.App {
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 1rem;
  max-width: 1440px;
  background-size: cover;
  background-repeat: no-repeat;
}

.layoutUI {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoMenu {
  display: flex;
  flex-direction: column;
}

.menuButton {
  background: none;
  color: inherit;
  border: none;
  padding: .25rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.contactButton {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 0.75rem 0.063rem 0.75rem 0;
  width: 8rem;
  cursor: pointer;
}

.pageUI {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 1rem - 1rem - 7rem);
}

.pageUIContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 0;
}

.headline {
  font-size: 4rem;
}

.subhead {
  font-size: .8rem;
}

.cta {
  display: flex;
  text-align: left;
  color: black;
  background-color: white;
  padding: 2.5rem;
  justify-content: space-between;
  margin-top: auto;
}